<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281295610190-cp7bvkkjhjuoa6brfvnk20dpho7lstbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281295610190-cp7bvkkjhjuoa6brfvnk20dpho7lstbg</string>
	<key>API_KEY</key>
	<string>AIzaSyC4ZRh7bpI_uXk5TFXzgw4fHpi-91L9pCc</string>
	<key>GCM_SENDER_ID</key>
	<string>281295610190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseapp.greatTalkVerification</string>
	<key>PROJECT_ID</key>
	<string>great-talk-verification</string>
	<key>STORAGE_BUCKET</key>
	<string>great-talk-verification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281295610190:ios:0c62dd86c72b4d9bd17e1f</string>
</dict>
</plist>