<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518870941960-qpnhv8ge03d9eg09s92cfjj9jgtaqqdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518870941960-qpnhv8ge03d9eg09s92cfjj9jgtaqqdh</string>
	<key>API_KEY</key>
	<string>AIzaSyCvTAD0abVrB3UIRn86GtLghqu1GuzvlEg</string>
	<key>GCM_SENDER_ID</key>
	<string>518870941960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseapp.greatTalkTesting</string>
	<key>PROJECT_ID</key>
	<string>great-talk-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>great-talk-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518870941960:ios:0c812f2117067238206cbd</string>
</dict>
</plist>