rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /chatImages {
      match /v1/{fileName} {
        allow read, create: if true;
      }
    }
  }
}
